<h5>Thông tin comment.</h5>
<h4>Tên: <%- createdByName %> </h4>
<h4>Email: <%- createdByEmail %> </h4>
<h4>Bài học <a href="<%- lectureUrl %>"><%- lecture %></a><h4>
<p> <%- content %> </p>
<p><a href="http://hocdai.com/">hocdai.com</a></p>